<div id="receipt-body">
  <h3>Your order is confirmed!</h3>
  <p class="user-greeting">Hello <%=@order.recipient_name%>,</p>
  <p class="user-greeting-info">
    Payment for your order has been confirmed and will be sent out for delivery
    shortly
  </p>
  <br>
  <p class="user-greeting-info">
    One of our customer support agents would reach out to you shortly to confirm the details of your order before we would begin processing your order. Please be on standby!
  </p>
  <div class="ad">
    <img src="<%= @ad.image_url %>" alt="" />
  </div>
  <div class="order-details">
    <h4 class="order-details-heading">Order Details</h4>
    <p class="order-details-id">
      Order ref:
      <a href="<%= @order.order_tracking_url %>"><%= @order.reference %></a>
    </p>
    <div class="order-details-items">
      <table class="order-items-table">
        <% @order.order_items.each do |item| %>
        <tr class="item-row">
          <td class="item-image">
            <div
              class="item-image-holder"
              style="background-image: url(<%= item.product.image_url %>)"
            ></div>
          </td>
          <td class="item-title">
            <p class="item-title-title"><%= item.product.title %></p>
            <p class="item-quantity-info">
              <%= item.quantity%>x at <%= number_to_currency(
                @order&.franchise_id ? item.product.price(@order&.franchise_id) : item.product.price,
                unit: '₦',
                separator: '.',
                delimiter: ',',
                precision: 2
              ) %>
            </p>
          </td>
          <td class="item-subtotal">
            <%= number_to_currency(item.subtotal, unit: '₦', separator: '.',
            delimiter: ',', precision: 2) %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="order-summary-details">
      <table class="order-summary-table">
        <tr class="summary-image-icon">
          <td rowspan="5">
            <img
              src="https://awa-apps.fra1.cdn.digitaloceanspaces.com/JJB/public-space/truck-for-email.png"
              alt=""
            />
          </td>
        </tr>
        <tr class="summary-row">
          <td class="summary-row-title">Subtotal</td>
          <td class="summary-row-amount">
            <%= number_to_currency(@order.total, unit: '₦', separator: '.',
            delimiter: ',', precision: 2) %>
          </td>
        </tr>
        <tr class="summary-row">
          <td class="summary-row-title">Delivery Fees</td>
          <td class="summary-row-amount">
            <%= number_to_currency(@order.delivery_charge, unit: '₦', separator:
            '.', delimiter: ',', precision: 2) %>
          </td>
        </tr>
        <tr class="summary-row">
          <td class="summary-row-title">Discount</td>
          <td class="summary-row-amount">
            <%= number_to_currency(@order.discount_amount, unit: '₦', separator:
            '.', delimiter: ',', precision: 2) %>
          </td>
        </tr>
        <tr class="summary-row">
          <td class="summary-row-title">Total</td>
          <td class="summary-row-amount total">
            <%= number_to_currency(@order.payment.total, unit: '₦', separator:
            '.', delimiter: ',', precision: 2) %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
